---
layout: default
title: The GitLab Remote Playbook
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://about.gitlab.com/resources/downloads/ebook-remote-playbook.pdf"
form_id: "2430"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook"
success_message: "You will also receive a copy of the eBook sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline The GitLab Remote Playbook
        %h2.page-headline Covering Fundamentals to Long-Term Strategy

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p GitLab’s Remote Playbook comprehensively answers a simple question: “How do I work well remotely?”
            
            %p Due to global issues concerning COVID-19 (Coronavirus), many teams face  a new reality: They're remote, and they’re unsure when they’ll be able to return to the office.

            %p For many leaders, the question of "How do we do this?" is a giant one. Whether it's unwinding from offices entirely and going all-remote, or attempting to level the playing field for in-office and remote team members in a hybrid-remote arrangement, leaders should consider key forcing functions to ensure a commitment to remote-first practices.

            %h3 What you’ll learn in this eBook:
            %ul
              %li Immediate tactics to build remote fluency
              %li Key steps every remote worker should take
              %li How to turn chaos into opportunity with long-term vision

            %p Download the eBook now to stabilize your work-from-home team and dive deep on topics including asynchronous workflows, meetings, informal communication, and management.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }