---
title: Remote work with GitLab
suppress_header: true
description: "GitLab makes remote teams more efficient."
extra_css:
  - stages-devops-lifecycle.css
  - features.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "GitLab logo icon svg"
    %h1 GitLab for remote teams
    = link_to "/free-trial/", class: "btn cta-btn orange" do
      Start your free trial

.solutions-wrapper
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        Using GitLab for remote collaboration
      %p
        GitLab is a collaboration tool designed to help people work better together whether they are in the same location or spread across multiple time zones. Originally, GitLab let software developers collaborate on writing code and packaging it up into software applications. Today, GitLab has a wide range of capabilities used by people around the globe in all kinds of companies and roles.
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        Document while you work
      %p
        Instead of critical information getting lost in email or chat, writing down what’s happening inside of GitLab Issues means the plan, process, and execution are automatically documented. Other users can be tagged to comment and collaborate. Since Issues are a many-to-many channel, it’s easy to loop in more folks without the clutter of a reply-all thread.
    .solution-image-container.flex-container.align-center.full-width
      = image_tag "/images/solutions/remote-work/issue.png", :alt => "Gitlab devops loop png"
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        Track Work from Dream to Done
      %p
        Adding labels to GitLab Issues lets you categorize work into different stages, such as planning, in-progress, and complete. [GitLab Boards](https://about.gitlab.com/stages-devops-lifecycle/issueboard/) give you visibility and control over how work is being done. It’s like moving digital post-it notes across an online whiteboard that everyone can use, not just the folks in the conference room.
    .solution-image-container.flex-container.align-center.full-width
      = image_tag "/images/solutions/remote-work/board-drag.png", :alt => "Gitlab devops loop png"
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        Connect Strategy to Execution
      %p
        GitLab Epics and Roadmaps provide a way to organize and visualize your entire portfolio of work over the long term. While Issues represent everyday tasks, Epics represent entire features or projects. Roadmaps let you plan work by seeing which work is competing for space and track progress against an assigned completion date.
    .solution-image-container.flex-container.align-center.full-width
      = image_tag "/images/solutions/remote-work/max.png", :alt => "Gitlab devops loop png"
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        Version every word
      %p
        One of the advanced uses for GitLab is to treat copy like code. You can store, version, review, and approve not only software code, but any text at all. Using GitLab’s version control and “code review” capabilities for your text-based copywriting, you’ll be able to track versions, know who changed what when, make multiple proposals to the same document, and easily manage approvals.
    .solution-image-container.flex-container.align-center.full-width
      = image_tag "/images/solutions/remote-work/diff.png", :alt => "Gitlab devops loop png"


.gitlab-cta-container.text-center.animated
  .container
    %h2
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    = link_to "/pricing", class: "btn cta-btn red hidden-sm hidden-xs" do
      Explore our plans
    = link_to "/pricing", class: "btn cta-btn red visible-sm visible-xs" do
      Explore
