:markdown

  ### Outbound

  * Work with our Sales Development Representative Lead to develop best [practices](/handbook/marketing/demand-generation/business-development/) on outbound sales activities
  * Demand creation (cold calling), demand response (warm calling), demand management (managed follow up process)
  * Discover, navigate, and document an organization’s developer/IT landscape
  * Maintain all activity and account research using Salesforce.com
  * Work closely with our developer marketing manager to identify customer stories from all of the conversations you have with our customers.
  * Generate qualified leads for the sales team via outbound activity - as first member of this team, you are critical in forming GitLab's outbound sales development strategy
