---
title: GitLab Contribute
description: "Contribute is our annual GitLabber community event. We get together to get face time with one another, build community, reinforce our values, and get some work done! Since our team is scattered all over the globe, we try to plan a different location for each GitLab Contribute."
image_title: '/images/events/gitlab-commit/gitlab-commit-header.png'
layout: default
suppress_header: true
extra_css:
  - event.css
  - event-commit.css
  - simplify-devops.css
  - event-contribute.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - simplify-devops.js
---
  
= partial "/includes/events/contribute/hero1"
.gitlab-content-container.commit-content-container
  .content.commit-content
    .js-in-page-nav-group{ role: "main", offset: 0, showhash: "true" }
      = partial "/includes/events/contribute/main"
      
      .row.js-in-page-nav-section#update
        .container
          .u-margin-top-md
            %h2.u-text-brand Update
            %p 2020-03-04 – With the increased impact of COVID-19 (Coronavirus) across the world, we have made the difficult decision to cancel the planned March 2020 edition of Contribute. The health and safety of our team members is our highest priority. We are disappointed, but believe this to be the best decision for everyone involved. For other organizations facing similarly difficult decisions, we encourage them to study, implement, and contribute to <a href="/company/culture/all-remote/guide/">GitLab's Guide to All-Remote</a>, which outlines our vision for building meaningful relationships through intentional informal communication and in-person interactions.  

      -#.row.js-in-page-nav-section#accommodation
        .container
          .u-margin-top-md
            %h2.u-text-brand Accommodation
            %p We'll be staying at both the <a href="https://www3.hilton.com/en/hotels/czech-republic/hilton-prague-PRGHITW/index.html">Hilton Prague</a> (Pobřežní 1, Prague, Czech Republic, 186 00) and <a href="https://www3.hilton.com/en/hotels/czech-republic/hilton-prague-old-town-PRGOTHI/index.html">Hilton Prague Old Town</a> (V Celnici 7, Prague, Czech Republic, 110 00). Rooming assignments will be rolled out after registration closes, around mid-February. We're also trying to provide as many single rooms as possible throughout the process to people who go above and beyond, but as always, you'll have the option to guarantee a private room with an out-of-pocket $500 fee. We've negotiated rates at each of the hotels for up to five days before and after the event for those wanting to extend their trip and for groups wanting to host team meetings. You'll be able to express these preferences during registration. Please see <a href="/events/gitlab-contribute/faq/#accommodation">the FAQs page</a> for more on accommodation.

      .row.js-in-page-nav-section#schedule
        .container
          .u-margin-top-md
            %h2.u-text-brand Timelines
            %p You'll have 14 days from the time you receive the registration email to register for Contribute and book flights. More information is on <a href="/events/gitlab-contribute/faq/#registration">the FAQs page</a>. Questions? Please feel free to reach out to <a href="mailto:contribute@gitlab.com">contribute@gitlab.com</a>.

            %h3 Agenda
            %p We will open official registration for sessions soon, but in the meantime you can view <a href="https://contribute2020prague.sched.com/">an overview of programming for Contribute</a>. Please note that registration for sessions will not be in Sched; this schedule is provided for information purposes only. We will open registration for all sessions soon.
            
            <a id="sched-embed" href="//contribute2020prague.sched.com/">View the Contribute 2020 - Prague schedule &amp; directory.</a><script type="text/javascript" src="//contribute2020prague.sched.com/js/embed.js"></script>
              
      -#.row.js-in-page-nav-section#travel
        .container
          .u-margin-top-md
            %h2.u-text-brand Booking travel
            %p Everything you need to know about booking your travel to Contribute can be found on <a href="/events/gitlab-contribute/faq/#registration">the FAQs page</a>. Questions? Please feel free to reach out to <a href="mailto:contributetravel@gitlab.com">contribute@gitlab.com</a>.

      -#.row.js-in-page-nav-section#excursions
        .container
          .u-margin-top-md
            %h2.u-text-brand Excursions
            %p
              %em Please see the <a href="/events/gitlab-contribute/faq#how-can-i-sign-up-for-excursions">excursions FAQs</a> for information on when and how to sign up. If the slides below do not load, please check that you are signed in with your GitLab G Suite account in your browser.  You can also <a href="/pdfs/contribute-2020/prague_contribute_excursions.pdf" target="_blank">download the PDF</a>.
            %figure.video_container
              %iframe{allowfullscreen: true, frameborder: 0, height: 749, mozallowfullscreen: true, src: 'https://docs.google.com/presentation/d/1ON96u-WPeOMguA7JE6jKjPt_-dkR0zoTtUyvPFdc2rs/embed?start=false&loop=false&delayms=3000', webkitallowfullscreen: true, width: 1280}

      .row.js-in-page-nav-section#workshops
        .container
          .u-margin-top-md
            %h2.u-text-brand Workshops
            %p Do you have an idea for a Contribute workshop, or do you have a topic you want to present? <a href="https://gitlab.com/gitlab-com/marketing/contribute/contribute-2020/issues/new?issuable_template=workshop_submission">Create an issue here</a>.
      .row.js-in-page-nav-section#ambassadors
        .container
          .u-margin-top-md
            %h2.u-text-brand Team Time
            %p Team time is designated time where functional groups and teams can organize an activity together. It is best to organize with the group you work with day to day. This can be a meeting during the day with a stage (multiple teams) and then a dinner with a team (smaller group). Or it could be a meeting with your team (like Marketing Operations or Field Marketing) and a dinner with a larger group (all of Marketing). <a href="/events/gitlab-contribute/faq/#what-is-team-day">Find out more here</a>.
      .row.js-in-page-nav-section#ambassadors
        .container
          .u-margin-top-md
            %h2.u-text-brand Ambassadors and volunteers
            %p <a href="https://gitlab.com/gitlab-com/marketing/contribute/contribute-2020/blob/master/Contribute-Ambassadors.md">Contribute Ambassadors</a> assist the Contribute event team with a plethora of tasks while the rest of the company can focus on building bonds, having a good time, and contributing to the GitLab community. Volunteers assist Ambassadors in executing tasks, such as Team Day planning, excursions, and workshops. To volunteer at Contribute, please complete <a href="https://docs.google.com/forms/d/e/1FAIpQLSf_mGw8eahy3XfTZfrnUTuXlqm9bdeF52Gp8fU6pUceTlW_-A/viewform">this form</a>.
      .row.js-in-page-nav-section#about
        .container
          .u-margin-top-md
            %h2.u-text-brand About
            %h3 Why Contribute?
            %p The name and concept of Contribute stems from our <a href="/handbook/values/">GitLab Values</a> of Collaboration, Results, Effectiveness, Diversity, Iteration, and Transparency. We believe "everyone can contribute" and this motto is ingrained in everything we do and integral to our success as a team and company. We're better together and because of each other, so we ask that everyone contributes at this event.

            %h3 What to expect?
            %p This is not your average conference where you passively listen to content and are forced to attend specific sessions. You're signing up to contribute to building and sharing with this community.

            %h3 Goals
            %p The goal of Contribute is to get to know the people in the GitLab community. The better you know people, the easier it is to collaborate. We want to build trust and rapport between groups.

            %h3 2019 recap
            %p As you surely know, we are an all-remote company with <a href="/team/">over 900 team members in more than 55 countries</a>. Since we don’t have watercooler talk or an office, we do a lot of fun stuff when we are all get together! We'd love for you to get to know us and each other, without a focus on your job or title. This way you'll see the people that contribute to GitLab instead of just a name on your screen. We have a whole list of fun activities planned for 2020 and are excited to spend time with you.
            %iframe{ width: "140", height: "79", src: "https://www.youtube.com/embed/xdtPNXtkBhE", frameborder: "0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "" }

      .row.js-in-page-nav-section#faq
        .container
          .u-margin-top-md
            %h2.u-text-brand FAQs
            %h3 Frequently asked questions
            %p If you have a question about Contribute, it has probably been asked by another GitLabber already! <a href="/events/gitlab-contribute/faq">Check out the FAQs page</a> that is updated regularly by the Contribute Ambassadors. If your question isn't answered there, feel free to ask in #contribute2020 on Slack. When you get an answer, please open an MR to add your question and answer to the FAQs page so that others can find the information easily too.
            
      .row.js-in-page-nav-section#contact
        .container
          .u-margin-top-md.u-margin-bottom-xl
            %h2.u-text-brand.text-center Contact
            %h4.text-center.u-margin-top-sm <a href="mailto:contribute@gitlab.com">contribute@gitlab.com</a>

%script{ src: "/javascripts/contribute.js", type: "text/javascript" }
